* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  color: #ffeddf;
}

.hero {
  display: grid;
  justify-items: center;
  grid-gap: 0.3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(./cranium-cleaners.png);
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-header {
  font-size: 4em;
  font-family: "Mukta", sans-serif;
  color: white;
  align-self: end;
  margin-left: 2rem;
}

.hero-subhead {
  font-family: "Josefin Slab", serif;
  color: white;
  margin-left: 2.5rem;
  align-self: start;
}

.wrapper {
  background-color: #0d1321;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%230d1321' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%230d121f' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%230c111d' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%230b101b' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%230a0e19' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23090d17' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.main-content {
  display: grid;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  grid-template-columns: 75%;
  /* grid-template-rows: repeat(auto-fit, minmax(50rem, 1fr)); */
}

.about {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  padding: 3rem;
  padding-top: 5rem;
}

.about-header {
  font-size: 3rem;
  align-self: center;
  font-family: "Mukta", sans-serif;
}

.about-img {
  width: 65%;
  height: auto;
  justify-self: center;
  align-self: end;
  object-fit: cover;
}
.about-text {
  font-family: "Tenor Sans", sans-serif;
  align-self: start;
}

.about-text_1 {
  margin-bottom: 0.5rem;
}

.services {
  display: grid;
  justify-items: center;
  padding: 4rem 2rem;
  margin-bottom: 6rem;
}

.services-header {
  font-size: 3rem;
  font-family: "Mukta", sans-serif;
  margin-bottom: 1rem;
}

.services-list {
  display: flex;
}

.services-list_item {
  margin: 0 2rem;
  font-size: 1.5rem;
  font-family: "Josefin Slab", serif;
}

.pricing {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: auto;
  padding: 1rem;
}

.pricing-header {
  align-self: end;
  margin-bottom: 4rem;
  font-family: "Mukta", sans-serif;
  font-size: 3rem;
}

.pricing-option {
  display: grid;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 15rem;
  background: #7a7d7d;
  border-radius: 1%;
  color: #0d1321;
  transition: transform 0.4s;
}

.pricing-option:hover {
  transform: translate(2px, -2px);
}

.pricing-option_price {
  color: #ffc100;
  font-family: "Josefin Slab", serif;
}

.pricing-option_header {
  margin-bottom: 1rem;
  font-family: "Mukta", sans-serif;
}

.pricing-option_1 {
  /* grid-area: b; */
  justify-self: end;
}
.pricing-option_2 {
  /* grid-area: c; */
}
.pricing-option_3 {
  /* grid-area: d; */
  justify-self: start;
}

.pricing-custom-quote {
  /* grid-area: e; */
  justify-self: center;
}

.pricing-custom-quote_header {
  font-family: "Mukta", sans-serif;
  margin-bottom: 1rem;
}

.pricing-custom-quote_text {
  font-family: "Tenor Sans", sans-serif;
  margin-bottom: 2rem;
}

.pricing-option_price {
  margin-bottom: 1rem;
}

.pricing-option_list-item {
  font-family: "Tenor Sans", sans-serif;
  margin: 0.5rem 1rem;
}

.contact {
  display: grid;
  justify-items: center;
}

.contact-header {
  margin-bottom: 1.5rem;
  font-family: "Mukta", sans-serif;
}

.contact-button {
  font-family: "Mukta", sans-serif;
  margin-bottom: 3rem;
  padding: 1rem;
  border: none;
  border-radius: 1%;
  width: 10rem;
  background-color: #ffc100;
}

.contact-button:hover {
  background-color: white;
}

.hidden {
  position: absolute;
  z-index: -100;
}

@media screen and (min-width: 1024px) {
  .about-img {
    align-self: start;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 775px) {
  .pricing {
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    padding: 1rem;
  }

  .pricing-custom-quote {
    grid-column: 2 / 3;
    grid-row: 3;
    justify-content: center;
  }

  .pricing-header {
    height: 4rem;
    grid-column: 1 / 4;
  }
}

@media screen and (max-width: 730px) {
  h2 {
    line-height: 1em;
  }

  .about-header {
    margin-bottom: 3rem;
  }

  .about-img {
    grid-row: span 2;
    align-self: start;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .services {
    height: 30rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    justify-content: center;
  }

  .services-list {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 2rem;
  }

  .pricing {
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: auto;
    padding: 1rem;
  }

  .pricing-option_header {
    font-family: "Mukta", sans-serif;
  }

  .pricing-option_1 {
    justify-self: center;
  }
  .pricing-option_2 {
    justify-self: center;
  }
  .pricing-option_3 {
    justify-self: center;
  }

  .pricing-custom-quote {
    justify-self: center;
  }
}
